<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.springboot.mapper.CommentMapper">

   <select id="getAllCommentInOneProduct" resultMap="commentRM">
       select u.user_id, c.product_id,c.comment,c.comment_time,username from comment c
        left join
        (select user_id, username from user) u
         on c.user_id=u.user_id
          where product_id=#{productId} order by comment_time
   </select>

    <resultMap id="commentRM" type="Comment" autoMapping="true">
        <id column="comment_time" property="commentTime"></id>
        <association property="user" javaType="User">
            <id column="user_id" property="userId"></id>
            <result column="username" property="username"></result>
        </association>
    </resultMap>

    <insert id="addComment">
        insert into comment(user_id,product_id,comment,comment_time) values(#{userId},#{productId},#{comment},#{commentTime})
    </insert>

    <select id="checkIfPurchased" resultType="Order">
        select * from orders
        left join
        order_product
        on orders.order_id=order_product.order_id
        where user_id=#{userId} and paystate=1 and product_id=#{productId};
    </select>
</mapper>